@use 'mixins' as *;

.control-group {
  display: grid;
  grid-template-rows: 1.5rem auto 1.5rem;
  gap: 0.25rem;
  flex: 0 0 auto;
  align-items: center;

  &.no-footer {
    grid-template-rows: 1.5rem auto;
  }

  .header {
    display: flex;
    align-items: center;
    height: 1.5rem;
    margin-bottom: 0;
  }

  .body {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    max-height: 2rem;
  }

  .footer {
    display: flex;
    align-items: center;
    height: 1.5rem;
  }

  label {
    font-weight: 600;
    color: var(--text-tertiary);
    font-size: 0.9rem;
    white-space: nowrap;
  }

  .checkbox-label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    font-weight: normal;
    color: var(--text-primary);

    input[type="checkbox"] {
      cursor: pointer;
      width: 1.1rem;
      height: 1.1rem;
    }

    span {
      font-size: 0.9rem;
    }
  }

  &.metrics-group {
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
  }
}

// Range control
.range-width-section {
  .time-range-buttons {
    button {
      @include chip;
      font-weight: 500;

      &:active {
        background: var(--accent-primary);
        border-color: var(--accent-primary);
        color: white;
      }
    }
  }

  .time-range-select {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    .latest-btn {
      user-select: none;
      padding: 0.15rem 0.5rem;

      &.active {
        background: var(--accent-primary);
        border-color: var(--accent-primary);
        color: white;

        &:hover {
          background: var(--accent-secondary);
          border-color: var(--accent-secondary);
        }
      }

      i {
        font-size: 0.8rem;
      }
    }
  }

  .range-info {
    .display {
      font-size: 0.9rem;
      color: var(--text-primary);
      cursor: help;
    }

    .separator {
      color: var(--text-secondary);
    }
  }
}

// Aggregation control
.aggregation-section {
  .px-select {
    margin-left: 0.45rem;
  }
}
