name: CI
on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'www/**'
      - '.github/workflows/www-ci.yml'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - 'www/**'
      - '.github/workflows/www-ci.yml'
  workflow_dispatch:

jobs:
  test:
    uses: ./.github/workflows/test.yml
    with:
      python-versions: '["3.10", "3.11", "3.12", "3.13"]'
      run-linting: true
      test-build: true